@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* NATIVO */
/* * {
    @apply border border-black;
} */
/* body {

} */

/* CSS */
.text-xsl {
    font-size: 8pt;
}
.apresentation-text-m {
    font-family: "Secular One";
}
.main_apresentation {
    background: rgb(22, 47, 71);
    background: radial-gradient(
        circle,
        rgba(22, 47, 71, 1) 37%,
        rgba(11, 14, 15, 1) 100%
    );
    color: white;
    cursor: default;
}

/* TAILWIND */
.centralize {
    @apply flex items-center justify-center;
}
.apresentation-text-t {
    @apply font-bold text-xsl sm:text-sm md:text-lg lg:text-xl flex items-center text-slate-400;
}
.apresentation-text-m {
    @apply font-bold text-5xl sm:text-8xl md:text-8xl lg:text-9xl;
}
.apresentation-text-b {
    @apply font-bold text-xsl md:text-sm lg:text-base flex justify-start md:justify-end text-slate-400;
}
.main_tecnologies {
    background: linear-gradient(
        0deg,
        rgb(255, 255, 255) 7%,
        rgba(22, 47, 71, 1) 100%
    );
}
